*.avi
*.egg-info
*.pyc
*.swp
.vscode
.idea/
datasets
datasets/
devkit/outputs/
env/
eval-data
eval-data/
inpainting-results
inpainting-results/
inpainting-results-quantitative/
inpainting-results-quantitative-summary.tsv
old/
slurm/logs/
src/debug/
video-lists/
weights/
